<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Roblox Games Rater</h1>
        <a href="{{url_for('addgame')}}"><button id="btn-add-game">Добавить игру</button></a>
        {% for game in games %}
            <div id="game-card">
                <div id = "title-row">
                    <h2>{{game.title}}</h2>
                    <h2>Rating:{{game.rating}}/10</h2>
                    <span>
                        <a id="game-link-bs" href="{{game.roblox_url}}">go play it</a>
                    </span>
                </div>
                <ul id="genre-list">
                    <li>Genre: {{game.genre}}</li>
                    <li>Subgenre: {{game.subgenre}}</li>
                </ul>
                <div id = "details-row">
                    <img id="game-img" src="{{game.image}}"></img>
                    <a href="{{ url_for('game_details', game_id=game.id) }}"><button id="btn-more">more</button></a> 
                </div>
            </div>
        {% endfor %}
    </body>
</html>
